In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Rent Data.csv")
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

# Standardization

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
std = StandardScaler()
std

StandardScaler()

In [5]:
std_fit = std.fit(df[["area"]])
std_fit

StandardScaler()

In [6]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [7]:
df["area"] = std.transform(df[["area"]])
df.head()

       area   rent
0 -0.496601  31500
1 -0.305093  35000
2  0.460941  41050
3 -0.017830  36100
4  1.418484  52100

In [8]:
df['rent'] = std.fit_transform(df[['rent']])  #At A Same Time Fit And Transform
df.head()

       area      rent
0 -0.496601 -0.451586
1 -0.305093 -0.147755
2  0.460941  0.377439
3 -0.017830 -0.052265
4  1.418484  1.336678

# MinMax/Normalization Scaler

In [9]:
df2 = pd.read_csv("Rent Data.csv")
df2.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [32]:
mmx = MinMaxScaler(feature_range=(1, 2))
mmx

MinMaxScaler(feature_range=(1, 2))

In [33]:
df2["area"] = mmx.fit_transform(df2[["area"]]) #At A Same Time Fit And Transform
df2.head()

       area   rent
0  1.347826  3.460
1  1.391304  3.600
2  1.565217  3.842
3  1.456522  3.644
4  1.782609  4.284

In [34]:
df2["rent"] = mmx.fit_transform(df2[["rent"]]) #At A Same Time Fit And Transform
df2.head()

       area   rent
0  1.347826  1.230
1  1.391304  1.300
2  1.565217  1.421
3  1.456522  1.322
4  1.782609  1.642

# Robust Scaler

In [14]:
df3 = pd.read_csv("Rent Data.csv")
df3.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [16]:
from sklearn.preprocessing import RobustScaler

In [17]:
rbs = RobustScaler()
rbs

RobustScaler()

In [18]:
df3 ['area'] = rbs.fit_transform(df3[['area']])
df3.head()

     area   rent
0 -0.1375  31500
1 -0.0125  35000
2  0.4875  41050
3  0.1750  36100
4  1.1125  52100

In [19]:
df3 ['rent'] = rbs.fit_transform(df3[['rent']])
df3.head()

     area      rent
0 -0.1375 -0.162500
1 -0.0125  0.056250
2  0.4875  0.434375
3  0.1750  0.125000
4  1.1125  1.125000

# Max Absolute Scaler

In [22]:
df4 = pd.read_csv("Rent Data.csv")
df4.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [23]:
from sklearn.preprocessing import MaxAbsScaler

In [28]:
mbs = MaxAbsScaler()
mbs

MaxAbsScaler()

In [25]:
df4['area'] = mbs.fit_transform(df4[['area']])
df4.head()

       area   rent
0  0.571429  31500
1  0.600000  35000
2  0.714286  41050
3  0.642857  36100
4  0.857143  52100

In [26]:
df4['rent'] = mbs.fit_transform(df4[['rent']])
df4.head()

       area      rent
0  0.571429  0.450000
1  0.600000  0.500000
2  0.714286  0.586429
3  0.642857  0.515714
4  0.857143  0.744286